[Install]
WantedBy=basic.target

[Unit]
Description=office virtual private network

[Service]
ExecStart=/home/operator/bin/network-office
Restart=always
