set $left DP-4
set $center DP-0
set $right DP-2

workspace 1 output $center
workspace 2 output $center
workspace 3 output $center
workspace 4 output $center
workspace s output $center

workspace w output $left
workspace a output $left
workspace z output $left
workspace d output $left

workspace q output $right
workspace e output $right
