set $left DP-0
set $center DP-2
set $right DP-4

workspace 1 output $center
workspace 2 output $center
workspace 3 output $center
workspace 4 output $center
workspace s output $center

workspace a output $left
workspace z output $left
workspace d output $left

workspace q output $right
workspace w output $right
workspace e output $right
