/.mutt/account
/.mutt/accounts
/.mcabber/account/*
/.mcabber/token/*
/.mcabber/mcabber.fifo
/.mcabber/mcabberrc.theme
/.muttator/aliases
/.vimperator/info/
/.vimperator/settings.vim
/.vimperator/style.vim
/.config/kitty/cached.json
/.config/redshift.conf
/*.pyc
__pycache__
.gitconfig
.nvimlog
