[user]
	email = e.kovetskiy@gmail.com
	name = Egor Kovetskiy
[credential]
	helper = cache --timeout=3600000
[core]
	editor = vim
	excludesfile = /home/operator/.gitignore_global
[color]
	ui = auto
[pager]
	;diff = diff-so-fancy | less --tabs=4 -RFX
	;show = diff-so-fancy | less --tabs=4 -RFX
[url "git@github.com:kovetskiy/"]
    insteadOf = git+ssh://github.com/me/
    insteadOf = git://github.com/me/
    insteadOf = ssh://github.com/me/
    insteadOf = ssh://git@github.com/me/
    insteadOf = https://github.com/me/
    insteadOf = git@github.com:me/
    insteadOf = git@github.com/me/
[url "git@github.com:"]
    insteadOf = gh:
[http]
	cookiefile = /home/operator/.gitcookies
