[submodule "reconquest/rex"]
	path = .xkb
	url = git@github.com:reconquest/rex
	branch = master
	ignore = all
[submodule "git-diff-image"]
	path = git-diff-image
	url = https://github.com/ewanmellor/git-diff-image
[submodule "alacritty-themes/dracula"]
	path = alacritty-themes/dracula
	url = https://github.com/dracula/alacritty
