/.mutt/account
/.mcabber/account/*
/.mcabber/token/*
/.mcabber/mcabber.fifo
/.mcabber/mcabberrc.theme
/.muttator/aliases
/.vimperator/info/
/.fonts
/.vim/bundle/snippets
/.vim/bundle/vim-pythonx
/.vimperator/bundle
/.xkb
/.zprezto/modules/prompt/functions
/deadandroid
/deadfiles
