[user]
	email = e.kovetskiy@office.ngs.ru
	name = Egor Kovetskiy
[credential]
	helper = cache --timeout=3600000
[core]
	editor = vim
[color]
	ui = auto
[url "git+ssh://github.com/"]
	insteadOf = https://github.com/
