.mutt/account
.mcabber/account.office
.mcabber/account.slack-ngs-team
.mcabber/account.slack-postdevops-no
.mcabber/mcabber.fifo
.mcabber/mcabberrc.theme
.muttator/aliases
.vimperator/info/
.vimperator/vargan/
