URxvt.iso14755: off
URxvt.iso14755_52: off

URxvt.perl-lib: /home/operator/.urxvt/ext/perl

URxvt.buffered: false

URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt.perl-ext-common: autocomplete-ALL-the-things,clipboard,default,keyboard-select,url-select,fifo

URxvt.clipboard.copycmd:  xsel --input  --clipboard
URxvt.clipboard.pastecmd: xsel --output --clipboard

URxvt.keysym.M-C-f: perl:fifo:start

URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.keysym.Mod4-C-v: perl:clipboard:sync_paste

URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-Control-S: perl:keyboard-select:search

URxvt.keysym.Mod4-slash: autocomplete-ALL-the-things:WORD-complete
URxvt.keysym.Mod4-question:  perl:aAtt:fuzzy-complete
URxvt.keysym.Mod4-quotedbl:  perl:aAtt:undo

URxvt.keysym.M-C-y: perl:url-select:select_next
URxvt.url-select.launcher: browser

URxvt.title: rxvt-unicode
URxvt.saveLines: 5000
URxvt.font: xft:Monaco:pixelsize=12
URxvt.boldFont: xft:Monaco:bold:pixelsize=12
URxvt.underlineColor: blue
URxvt.cursorBlink: true
URxvt*scrollBar: false
URxvt.troughColor: #000000

URxvt.urlLauncher: i3-sensible-browser
URxvt.matcher.button: 1
URxvt.transparent: false
URxvt.shading: 0
URxvt.fading: 0

rofi.color-enabled: true

rofi.color-normal: #000000,  #000000,  #000000,  #000000,  #000000
rofi.color-urgent: #000000,  #000000,  #000000,  #000000,  #000000
rofi.color-active: #000000,  #000000,  #000000,  #000000,  #000000

rofi.color-window: #000000,  #000000
