URxvt.iso14755: off
URxvt.iso14755_52: off

URxvt.perl-lib: /home/operator/.urxvt/ext/perl

URxvt.buffered: false

URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt.perl-ext-common: clipboard,default

URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.clipboard.copycmd:  clipboard-copy
URxvt.clipboard.pastecmd: xsel --output --clipboard

URxvt.title: rxvt-unicode
URxvt.saveLines: 10000

;URxvt.font: xft:Iosevka:size=10,style=regular
;URxvt.boldFont: xft:Iosevka:size=10,style=bold
;URxvt.italicFont: xft:Iosevka:size=10,style=italic
;URxvt.boldItalicFont: xft:Iosevka:size=10,style=bold

URxvt.font:           xft:JetBrains Mono:pixelsize=14,style=Regular, xft:Dejavu Sans Mono:pixelsize=16,style=regular
URxvt.boldFont:       xft:JetBrains Mono:pixelsize=14,style=Bold,    xft:Dejavu Sans Mono:pixelsize=16,style=bold
URxvt.italicFont:     xft:JetBrains Mono:pixelsize=14,style=Italic,  xft:Dejavu Sans Mono:pixelsize=16,style=italic
URxvt.boldItalicFont: xft:JetBrains Mono:pixelsize=14,style=Bold,    xft:Dejavu Sans Mono:pixelsize=16,style=bold


URxvt.lineSpace: 0
URxvt.letterSpace: 0

URxvt.underlineColor: blue
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.troughColor: #100000

URxvt.transparent: false

;Xcursor.theme: DMZ-white

Xft.dpi: 96
