URxvt.iso14755: off
URxvt.iso14755_52: off

URxvt.perl-lib: /home/operator/.urxvt/ext/perl

URxvt.buffered: false

URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt.files: /home/operator/.Xresources.dark
URxvt.perl-ext-common: clipboard,default,rotate-colors

URxvt.keysym.C-Mod4-a: perl:rotate-colors:next
URxvt.keysym.Mod4-c: perl:clipboard:copy
URxvt.keysym.Mod4-v: perl:clipboard:paste
URxvt.clipboard.copycmd:  clipboard-copy
URxvt.clipboard.pastecmd: xsel --output --clipboard

URxvt.title: rxvt-unicode
URxvt.saveLines: 10000

URxvt.font:     xft:Iosevka Nerd Font:style=Regular:size=14:antialias=true:hinting=true
URxvt.boldFont: xft:Iosevka Nerd Font:style=Regular:size=14:antialias=true:hinting=true

URxvt.lineSpace: -5
!URxvt.letterSpace: 1

URxvt.underlineColor: blue
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.troughColor: #100000

;Xcursor.theme: DMZ-white

Xft.dpi: 96

URxvt.meta8: false

xterm*faceName: Iosevka Term
xterm*faceSize: 11
