# vim:ft=snippets:
global !p
def is_inside_curly_braces(snip):
    return len(snip.buffer[snip.cursor[0]]) > snip.cursor[1] and \
        snip.buffer[snip.cursor[0]][snip.cursor[1]] == '}'
endglobal

context "is_inside_curly_braces(snip)"
snippet { "{ curly brace newline" i
{
    $0

endsnippet
