snippet f "function" w
${1:int} ${2:main}($3) {
	$4
}
endsnippet

snippet i "if" w
if ($1) {
	$2
}$0
endsnippet

snippet }e "else" w
} else {
	$1
}
endsnippet

snippet pr "printf" w
printf("XXXXX `!p snip.rv=str(vim.current.window.cursor[0])`\n");
endsnippet

snippet dp "" w
debugf("$1: ${3:%s}", $2)
endsnippet

snippet fi "" w
for ($1 = 0; $1 < $2; $1++) {
    $3
}
endsnippet
