priority 200
snippet pr "" w
print("$1")
endsnippet

priority 200
snippet pv "" w
print("`!p snip.rv=t[1]`", $1)
endsnippet

priority 2
snippet td "" w
with open("/tmp/debug", 'a+') as f:
  f.write($1 + '\n')
endsnippet


snippet ld "" wA
log.debug("$1"$0)
endsnippet

snippet lv "" wA
log.debug("`!p snip.rv=t[1]`: %s", $1)$0
endsnippet
