snippet ! "shebang" bw
#!/bin/bash
$0
endsnippet

snippet p "if not pidof" w
if [ -z \`pidof $1\` ]; then
	$2
fi
endsnippet

snippet i "if" bw
if [[ $1 ]]; then
	$2
fi
endsnippet

snippet f "function" bw
$1() {
	$2
}
endsnippet

snippet l "local" w
local $1="$2"
endsnippet

snippet e "Description" wb
echo $1
endsnippet

snippet pr "pr" bw
echo '`!p snip.rv=t[1]`: '$1
endsnippet

snippet nc "Description" w
echo ${1:${VISUAL}} | nc localhost 1399
endsnippet
