snippet s "Snippet definition" w
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:w}
$4
`!p snip.rv = "endsnippet"`
endsnippet

snippet p "python" w
\`!p
$1
\`
endsnippet

snippet v "vim" w
\`!v
$1
\`
endsnippet

snippet r "snip.rv" w
snip.rv=$1
endsnippet

snippet pr "show snip.rv" i
\`!p snip.rv=$1\`
endsnippet

snippet i "visual" w
\$\{$1:\$\{VISUAL\}\}
endsnippet

snippet l "placeholder" w
\$\{$1:$2\}
endsnippet
