snippet au "augroup" bw
augroup ${1}
	au!
	${2:${VISUAL}}
augroup end
endsnippet

snippet f "function" bw
function! $1($2)
	$3
endfunction!
endsnippet

snippet i "if" bw
if $1
	$2
endif
endsnippet

snippet e "exists" w
exists($1)$0
endsnippet

snippet d "declare if not exists" bw
if !exists('$1')
	let $1 = $2
endif
endsnippet

snippet l "let" bw
let $1 = $2
endsnippet

snippet c "call" bw
call $1($2)
endsnippet
