"*":
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
  editor:
    fontSize: 12
    invisibles: {}
    fontFamily: "Monaco"
    tabLength: 4
  "exception-reporting":
    userId: "28a9c997-f411-bcc3-b0ef-94a0cd6d3bb9"
  "sync-settings":
    _analyticsUserId: "9327d942-152b-427b-b6b5-51eff14da157"
