'atom-workspace':
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
  'cmd-2': 'paner:split-down'  # I don't use ctrl-w s.
  'cmd-3': 'paner:split-right' # I don't use ctrl-w v.
  'cmd-H': 'paner:very-left'   # ctrl-w H
  'cmd-J': 'paner:very-bottom' # ctrl-w J
  'cmd-K': 'paner:very-top'    # ctrl-w K
  'cmd-L': 'paner:very-right'  # ctrl-w L
  'g d': 'golang:godef'

  '/':     'isearch:search-forward'
  '?': 'isearch:search-backward'
