[Install]
WantedBy=multi-user.target

[Unit]
Description=VPN (office)
After=network.target netctl-auto@.service

[Service]
ExecStart=/usr/bin/pon office nodetach logfd 2 debug
ExecStop=/usr/bin/poff office
Restart=always
RestartSec=1
StartLimitBurst=0
